.Big_Card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid rgba(36,36,36,0.1);
  padding: 20px;
  width: 280px;
  height: 280px;
  background-color: #25232E !important;
  color: #F2F2F2
}
.Big_Card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Big_Card_label {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.Big_Card_label .payload {
  font-size: 100px;
}
.Big_Card_label .label {
  font-size: 25px;
}
.Big_Card_icon {
  align-self: flex-end;
}
